.gallary__pic{
    position: absolute; 
    bottom: 30px;
    right: 20px;
    width: 22px;
    height: 19px;
    background-image: url('../../../images/Vector_heart.svg');
      }


.gallary__pic:hover{
    opacity: 0.6;
    cursor: pointer;
  
    }