.profile__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 36px;
    position: relative;
    /*align-items: flex-end;*/
}

@media screen and (min-width: 1280px){
    .profile__block{
        position: absolute;
        top: 22px;
        left: 150px;
        align-items: flex-start;
        max-width: 336px;
        margin: 0 0 0 0; 
}
}